
*{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    margin: 0;
    box-sizing: border-box;
}

body{
    position: relative;
}
#dark-mode-button{
    position: fixed;
    top: 11%;
    left: 1%;
    width: max-content;
    padding-left: 0.5%;
    padding-right: 0.5%;
    font-size: 10px;
    z-index: 1000;
}
.fade-left{
    opacity: 0;
    transition: all 2s;
    transform: translateX(10%);
}
.fade-right{
    opacity: 0;
    transition: all 2s;
    transform: translateX(-10%);
}
.animate{
    opacity: 1;
    transform: translateX(0);
}
#section1{
    margin-top: 20%;
    margin-bottom: 30%;

}
p{
    margin-top: 5%;
    margin-left: 60px;
}

#home{
    position: relative;
    margin-top: 5%;
    bottom: 3%;
    font-size: 3px;
    text-align: center;
    font-weight: bold;
    transition:all 1s;
}

#sub-header{
    text-align: center;
    font-style: italic;
    font-weight: bold;
    position: relative;
    right: 2.5%;   
}
h2{
    margin-top: 50%;
    font-size: 20px;
    margin-left: 5%;
    color: rgb(23, 79, 93);
}
#problem-text{
    margin-top: 2%;
    width: 50%;
    top: 40%;
    left: 5%;
    margin-left: 60px;
    margin-bottom: 10%;
}
#problem{
    top: 30%;
    left: 5%;
}
.italic {
    font-style: italic;
    font-weight: bold;
}

.b1{
    border-radius: 20px;
    transition: 0.5s;
    opacity: 1;
}

.b1:hover{
    opacity: 0.8;
    transition: 0.5s;
}
.image1{
    float: right;
    width: 30%;
    margin-top: 5%;
    margin-right: 10%;
    clear: left;
    height: auto;
}
#mental-health-button{
    padding: 2% 5%;
}
#button-container{
    float: right;
    margin-top: 2%;
    margin-right:10%;
    clear: right;
    width: 30%;
}
.modal-window {
    position: fixed;
    background-color: rgba(200, 200, 200, 0.75);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  
  .modal-window:target {
    opacity: 1;
    pointer-events: auto;
  }
  
  .modal-window > div {
    width: 70%;
    height: 70%;
    position: relative;
    margin: 10% auto;
    padding: 2rem;
    background: #fff;
    color: #444;
  }
  
  .modal-window header {
    font-weight: bold;
  }

  .modal-close {
    color: #aaa;
    line-height: 50px;
    font-size: 80%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 70px;
    text-decoration: none;
  }
  
  .modal-close:hover {
    color: #000;
  }
  
  .modal-window h1 {
    font-size: 150%;
    margin: 0 0 15px;
  }

.bold{
    font-weight: bold;
}

#why-text{
    margin-top: 6%;
    width: 50%;
    float: right;
    margin-right: 10%;
    margin-bottom: 12%;
}
.image2{
    float: left;
    margin-top: 3%;
    margin-left: 6%;
    margin-bottom: 7%;
    width: 30%;
    height: auto;
}
.list-group{
    width: 50%;
    margin-left: 10%;
    margin-top: 2%;
    color: white;
    margin-bottom: 10%;
}
@media only screen and (max-width:1000px){
    #home{
        margin-top: 15%;
        font-size: 2em;
    }
    #problem{
        float: none;
    }
    #sub-header{
        right: 6%;
    }
    #problem-text{
        float: none;
        margin: 0;
        width: 90%;
    }
    .image1{
        float:none;
        width: 70%;
        margin: 0;
        height: auto;
        margin-left: 15%;
    }
    #dark-mode-button{
        position: fixed;
        font-size: 10px;
        margin-left: 0%;

    }
    #button-container{
        width: 80%;
        margin-left: 5%;
        margin-right: 5%;
        
    }
    .additional-info{
        padding: 2% 5%;
        text-align: center;
    }
    .image2{
        float:none;
        width: 50%;
        margin: 0;
        height: auto;
        margin-left: 20%;
    }
    #why-text{
        float: none;
        margin: 0;
        width: 90%;
        margin-top: 5%;
    }
    h2{
        margin-top: 5%;
    }
    .place-holder{
        width: 90%;
        margin: 0;
        margin-left: 5%;
    }
    .modal-window > div {
        width: 100%;
        height: 70%;
      }
    iframe{
        height: 70%;
    }
    .list-group{
        width: 90%;
        margin-left: 5%;
        word-wrap: break-word;
    }
}
/* .nav-item:hover{
    border: solid;
    border-color: black;
} */