
*{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    color: grey;
    margin: 0;
    box-sizing: border-box;
}
body{
    position: relative;
}
p{
    margin-top: 5%;
    margin-left: 60px;
}
#home{
    position: relative;
    bottom: 3%;
    font-size: 40px;
    text-align: center;
    color: black;
}

#sub-header{
    text-align: center;
    font-style: italic;
    font-weight: bold;
    position: relative;
    right: 2.5%;   
}
h2{
    font-size: 20px;
    top: 200%;
    margin-left: 5%;
    color: rgb(23, 79, 93);
}
#problem-text{
    margin-top: 2%;
    width: 50%;
    top: 40%;
    left: 5%;
    margin-left: 60px;
    margin-bottom: 10%;
}
#problem{
    top: 30%;
    left: 5%;
}
.italic {
    font-style: italic;
    font-weight: bold;
}

button{
    padding: 1% 2%;
    color: black;
    border-color: black;
    background-color: aquamarine;
    transition: 0.5s;
    opacity: 1;
}
button:hover{
    opacity: 0.8;
    transition: 0.5s;
    border-color: aquamarine;
    background-color: black;
    color: aquamarine;
}
.image1{
    float: right;
    width: 30%;
    margin-top: 5%;
    margin-right: 10%;
    clear: left;
    height: auto;
}
#mental-health-button{
    padding: 2% 5%;
    height: auto;
}
#button-container{
    float: right;
    margin-top: 2%;
    margin-right:8.5%;
    width: 30%;
    clear: right;
}
.modal-window {
    position: fixed;
    background-color: rgba(200, 200, 200, 0.75);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  
  .modal-window:target {
    opacity: 1;
    pointer-events: auto;
  }
  
  .modal-window > div {
    width: 70%;
    height: 70%;
    position: relative;
    margin: 7.5% auto;
    padding: 2rem;
    background: #fff;
    color: #444;
  }
  
  .modal-window header {
    font-weight: bold;
  }

  .modal-close {
    color: #aaa;
    line-height: 50px;
    font-size: 80%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 70px;
    text-decoration: none;
  }
  
  .modal-close:hover {
    color: #000;
  }
  
  .modal-window h1 {
    font-size: 150%;
    margin: 0 0 15px;
  }

.bold{
    font-weight: bold;
}

#why-text{
    margin-top: 6%;
    width: 50%;
    float: right;
    margin-right: 10%;
    margin-bottom: 12%;
}
.image2{
    float: left;
    margin-top: 3%;
    margin-left: 6%;
    margin-bottom: 7%;
    width: 30%;
    height: auto;
}
@media only screen and (max-width:768px){
    #home{
        font-size: 16px;
    }
    #problem-text{
        margin: 0;
        width: 100%;
    }
    .image1{
        float:none;
        width: 50%;
        margin: 0;
        height: auto;
        margin-left: 20%;
    }
    #mental-health-button{
        padding: 2% 5%;
        height: auto;
    }
    #button-container{
        float: right;
        margin-top: 2%;
        margin-right:8.5%;
        width: 100%;
        clear: right;
    }
    .image2{
        float:none;
        width: 50%;
        margin: 0;
        height: auto;
        margin-left: 20%;
    }
    #why-text{
        margin: 0;
        width: 100%;
    }
    .place-holder{
        width: 100%;
    }

}
